body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  height: auto;
  background-image: url(images/header-illsutration-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: cover, auto;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: end;
}

.titlesClass {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 20px;
}

#presentation-title {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #36b37e;
  font-size: 40px;
  font-weight: 700;
  padding: 0%;
  margin: 0%;
}

p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #172b4d;
  font-weight: 400;
  font-size: 20px;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
