body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  height: auto;
}

.heading {
  background-image: url(images/header-illsutration-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: cover, auto;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 6px;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8%;
  padding-top: 4%;
  margin-bottom: 10%;
}

nav {
  display: flex;
  justify-content: end;
}

.titlesClass {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin: 15px;
}

#first-title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin: 10px;
  margin-top: 20px;
}

#presentation-title {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #36b37e;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  padding: 0%;
  margin: 0%;
}

p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #172b4d;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin: 20px;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
}

h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #344563;
}

.indicator {
  margin: auto auto;
  margin-top: 15px;
  margin-bottom: 62px;
  width: 48px;
  height: 4px;
  background-color: #36b37e;
  border-radius: 24px;
}

.works {
  display: grid;
  place-content: center;
  text-align: center;
  gap: 62px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
  color: #3a4a42;
  font-weight: 600;
  width: 327px;
  height: 474px;
  border: 1px #d0d9d4 solid;
  border-radius: 8px;
  margin: 0%;
}

.project-img {
  display: block;
  width: 327px;
  height: 252px;
  background-color: #ebf0ee;
  border-radius: 8px;
}

ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-self: center;
  align-content: center;
  font-size: 12px;
  gap: 15px;
  list-style-type: none;
  padding: 0%;
}

li {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 12px 8px;
  background: #ebf0ee;
  border-radius: 4px;
}

.button {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: 12px;
  font-size: 17px;
  font-weight: 500;
  background-color: #36b37f;
  color: hsl(0, 0%, 100%);
  border-radius: 4px;
  border: 4px;
  padding: 12px;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  background-image: url(images/header-illsutration-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: cover, auto;
}

.skills {
  display: grid;
  place-content: center;
  text-align: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 316px;
  height: 327px;
  border: #c1c7d0;
  border-radius: 8px;
}

.placeholder {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 327px;
  height: 316px;
  background-color: #ebf0ee;
  border: 2px #c1c7d0 solid;
  border-radius: 8px;
  margin: 20px;
}

section .skills .skill .placeholder ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-self: center;
  align-content: center;
  font-size: 12px;
  gap: 15px;
  list-style-type: none;
  list-style-position: inside;
  padding: 0%;
}

section .skills .skill .placeholder li {
  padding: 8px 8px;
  background-color: hsl(0, 0%, 100%);
  border: 1px hsl(0, 0%, 100%) solid;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  color: #36b37e;
}

.circle {
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  margin-top: 40px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50px;
}

.icon {
  width: 48px;
  height: 48px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.form {
  display: grid;
  place-content: center;
  gap: 2%;
}

#contact-form form ul {
  display: grid;
  margin: 0%;
  gap: 0%;
}

input {
  display: block;
  font-family: "Inter", sans-serif;
  border: #d0d9d4;
  box-sizing: content-box;
}

textarea {
  display: block;
  border: #d0d9d4;
  border-radius: 8px;
}

input {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6B778C;
  background: #FFFFFF;
  border: 1px solid #D0D9D4;
  border-radius: 4px;
  padding: 4%;
}